@card-padding: 5px;

.playing-card {
  background-color: #fff;
  font-family: "Open Sans",sans-serif;
  cursor: pointer;
  position: relative;
  display: inline-block;
  border-radius: 5px;
  border: 1px solid	#E8E8E8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  text-align: center;
  width: 100%;
  margin-bottom: 15px;
  padding: 35px 15px;
  transition: transform 0.3s;

  &:before,
	&:after {
    content: attr(value);
    position: absolute;
    font-size: .8rem
  }

  &:before {
		top: @card-padding;
		left: @card-padding;
	}
	
	&:after {
		bottom: @card-padding;
		right: @card-padding;
		transform: rotate(180deg);
  }

  &:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  }

  &__centre {
    border: 1px solid#d5d9de;
    padding: 20px 5px;
    font-size: 2.2rem;
    font-weight: 100;
  }
}