# Move config to use env vars

port: 3333
features:
    logging: true
expiry:
    vote: 7200 # 2 Hours
    players: 72000 # 2 Hours
db:
    host: "test.com"
    port: 12345
    password: "test"
    fake: false
